# سیستم عامل‌ها
.DS_Store
Thumbs.db

# محیط‌های توسعه
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# فولدرهای node (اگر از بسترسازی JS استفاده کنی)
node_modules/
dist/
build/

# فایل های موقت و کش
*.tmp
*.cache
.cache/
.vscode/
.idea/

# خروجی ابزارهای گرافیکی
*.psd
*.ai
*.xcf
*.blend1
*.blend2

# تنظیمات شخصی سیستم
*.swp
*.swo
