.loader {
  border: 6px solid #ffffff30;
  border-top: 6px solid #6f00ff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: auto;
  animation: spin 0.8s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.loading-text {
    font-size: 22px;
    margin-top: 25px;
    text-shadow: 0 0 15px #6f00ff;
}
